@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'postflow';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #2f6bff;
  --color-secondary: #1f2937;

  /* Posted / Done */
  --color-success: #22c55e;

  /* Pending */
  --color-warning: #f59e0b;

  /* Delete */
  --color-danger: #ef4444;

  /* Secondary text */
  --color-muted: #9ca3af;
}

/* navbar */

.nav-link {
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
  transition: all 0.2s ease;
}

.nav-link:hover {
  background: rgba(47, 107, 255, 0.08);
  color: var(--color-primary);
}

.nav-link-active {
  background: var(--color-primary);
  color: white;
  box-shadow: 0 0 0 1px rgba(47, 107, 255, 0.25);
}

.nav-link-active:hover {
  background: var(--color-primary);
  color: white;
}
